<section>
    <div class="has-text-centered">
        <h1 class="title">
             Erro 404
        </h1>
        <p class="subtitle">
            pagina não encontrada
        </p>
        <img src="img/tonto.png" width="100" height="100" alt="">
    </div>
</section>