<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>

<section>
    <h1 class="title">Cadastro de Novo Cliente</h1>
    <p class="subtitle">HotelPokemon</p>

    <form action="http://localhost/hotelpokemon/?pagina=CadastroCliente&metodo=Cadastrar" class="form" method="POST">
        <div class="columns">
            <div class="column is-half box">
                <br>
                <div class="field">
                    <strong>Nome</strong>
                    <input type="text" class="input" maxlength="50" name="nome" required>
                </div>
                <div class="field">
                    <strong>CPF</strong>
                    <input type="text" class="input" minlength="14" maxlength="14" class="input" name="cpf" onkeypress="$(this).mask('000.000.000-00');" required>
                    
                </div>
                <div class="field">
                    <strong>Telefone</strong>
                    <input type="text" class="input" maxlength="45" name="telefone" onkeypress="$(this).mask('(00) 0000-00009')" required>
                </div>
                <div class="field">
                    <strong>Plano</strong>
                    <div class="select is-fullwidth">
                        <select name="plano">
                            {% for plano in planos %}
                            <option value="{{plano.idPlano}}"> {{plano.nome}}  </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <br>
                <button type="submit" class="button is-success">Cadastrar</button>
            </div>
            <div class="column has-text-centered">
                {% for plano in planos%}
                <section class="hero is-success is-bold box">
                    <div class="hero-body">
                        <div class="container">
                            <h1 class="title">
                                {{plano.nome}}
                            </h1>
                            <strong class="subtitle">Preço: </strong> {{plano.custoPorTempo}} || 
                            <strong class="subtitle">Exp: </strong> {{plano.expPorTempo}}
                            <strong class="subtitle">Limite de Pokemons</strong> {{plano.limiteDePokemons}}
                        </div>
                    </div>
                </section>
                {% endfor %}
            </div>    
        </div>
    </form>
</section>