<section class="hero">
    <br>
    <br>
    {% if Clientes == null %}
        <div class="has-text-centered">
            <h1 class="title">Nenhum Cliente com esse Cpf</h1>
            <img src="img/tonto.png" width="100" height="100" alt="">
        </div>
    {% else %}    
        {% for cliente in Clientes %}
            <div class="columns box">
                <div class="column is-4">
                    <p class="title">{{cliente.nomeCompleto}}</p>
                    <strong>Cpf :</strong>
                    {{cliente.cpf}} 
                    <br>
                    <strong>Tel:</strong>
                    {{cliente.telefone}}
                    <br>
                    <br>
                    {% for plano in planos %}
                    <strong>Plano: </strong> {{plano.nome}}
                    <br>
                    <strong>Pokemons: </strong>
                        {{atual}} / {{plano.limiteDePokemons}}
                    {% endfor %}
                    <br>
                    <br>
                    <a href="http://localhost/hotelpokemon/?pagina=editarCliente&id={{ cliente.idCliente }}" class="button is-info is-light">Editar</a>
                    <hr>
                    <div>
                        <a href="http://localhost/hotelpokemon/?pagina=hospedagem&id={{ cliente.idCliente }}" class="button is-link is-light" >Cadastrar Pokemon</a>
                        <a href="http://localhost/hotelpokemon/?pagina=retirada&id={{ cliente.idCliente }}" class="button is-link is-light">Retirar Pokemon </a>
                    </div>
                </div>
                <div class="column">
                    <img src="img/cliente.png" width="300" alt="">
                </div>
            </div>
        {% endfor %}   
    {% endif %}    
    <hr>
    <div>
 
    </div>

</section>