<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>

<section>
    <h1 class="title">
        Editar Cliente
    </h1>
    <p class="subtitle">
        HotelPokemon
    </p>
    <br>
    {% for cliente in clientes %}
    <form action="http://localhost/hotelpokemon/?pagina=EditarCliente&metodo=Editar" method="POST" class="form box">
        <div class="field">
            <Strong>Nome</Strong>
            <input type="text" class="input" name="nome" value="{{cliente.nomeCompleto}}" readonly=“true”>
        </div>
        <div class="field">
            <strong>Cpf</strong>
            <input type="text" class="input" name="cpf" value="{{cliente.cpf}}"  readonly=“true”>
        </div>
        <div class="field">
            <strong>Telefone:</strong>
            <input type="text" class="input" minlength="14" maxlength="14" class="input" name="telefone" onkeypress="$(this).mask('(00) 0000-00009')" required value="{{cliente.telefone}}" >
        </div>
        <div class="field">
            <strong>Plano</strong>
            <div class="select is-fullwidth">
                <select name="plano">
                    {% for plano in planos %}
                    <option value="{{plano.idPlano}}"> {{plano.nome}}  </option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="field">
            <button class="button is-success" type="submit">Editar</button>
        </div>
    </form>
    {% endfor %}
</section>