<section class="hero">
    <div class="hero body">
        <div class="hero-content">
            <h1 class="title">
                    Ops...
            </h1>
            <p class="subtitle">
                Tivemos um problema para guardar as informações do seu pokemon. Por favor confira as informações e tente novamente.
            </p>
            <img src="img/Fails.png" width="300">
        </div>
    </div>
</section>