<section class="hero">
    <div class="hero body">
        <div class="hero-content">
            <h1 class="title">
                    Ops...
            </h1>
            <p class="subtitle">
                Tivemos um problema para fazer seu registro. Confira se esse cpf já não esta cadastrado. Tente de novo.
            </p>
            <img src="img/Fails.png" width="300">
        </div>
    </div>
</section>