<section class="hero">
    <div class="hero body">
        <div class="hero-content">
            <h1 class="title">
                    Ops...
            </h1>
            <p class="subtitle">
                Não conseguimos editar, confira os dados e tente novamente.
            </p>
            <img src="img/Fails.png" width="300">
        </div>
    </div>
</section>