<section>       
    <div class=" has-text-centered">
        <img src="img/browserpreview_tmp.gif" width="700" height="400"  alt="">
        <h1 class="title">HotelPokemon</h1>
        <p class="subtitle">Seu Paceiro sempre upando</p>
        
    </div>
</section>                    