<section>
    <h1 class="title">Hospedar Pokemon</h1>
    <p class="subtitle">HotelPokemon</p>

    <form action="http://localhost/hotelpokemon/?pagina=Hospedagem&metodo=CadastrarPokemon" class="form box" method="POST">
        <div class="columns">
            <div class="column is-half">
                <div class="field">
                    <strong>Nome</strong>
                    <input type="text" class="input" name="nome" maxlength="50">
                </div>
            </div>
            <div class="column is-1">
                <div class="field">
                    <strong>Nivel</strong>
                    <input type="number" name="lv" class="input" min="1" value="1">
                </div>
            </div>
        </div>
        <div class="columns">
            <div class="column is-4">
                <div class="field">
                    <strong>Especie</strong>
                    <div class="select is-fullwidth">
                        <select name="especie">
                            {% for especie in especies %}
                            <option value="{{especie.idEspecie}}"> {{especie.nome}} </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>    
            <div class="column is-3">
                <div class="field">
                    <strong>Sexo</strong>
                    <div class="select is-fullwidth">
                        <select name="sexo" >
                            <option value="f">Fêmea</option>
                            <option value="m">Macho</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="field">
            <button type="submit" class="button is-success">
                Hospedar
            </button>
        </div>
    </form>
</section>