<s<section class="hero">
        <div class="hero body">
            <div class="hero-content">
                <h1 class="title">
                        Ops...
                </h1>
                <p class="subtitle">
                    Você não pode editar se já tiver um pokemon cadastrado. 
                </p>
                <img src="img/Fails.png" width="300">
            </div>
        </div>
    </section>