<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
<section>
    <h1 class="title">Pesquisar Cliente</h1>
    <p class="subtitle">HotelPokemon</p>
    <form action="http://localhost/hotelpokemon/?pagina=Pesquisa&metodo=pesquisar" method="post" class="form">
        <div class="columns box">
            <div class="column">
                <div class="field">
                        <input type="text" class="input" minlength="14" maxlength="14" class="input" name="cpf" onkeypress="$(this).mask('000.000.000-00');" required>
                </div>
                <p class="help">Pesquisar cpf do cliente</p>
            </div>
            <div class="column is-2">
                <div class="field">
                    <button type="submit" class="button is-success ">Pesquisar</button>
                </div>
            </div>
        </div>
    </form>
    <br>
</section>