<section >
    <div>
        {% if pokemons == null%}
            <div>
                <h1 class="title">
                    Nenhum pokemon aqui ainda.
                </h1>
                <p class="subtitle">
                    Por que não hospeda alguns?
                </p>
                <img src="img/Fails.png" width="300">

            </div>
        {% else %} 
            <h1 class="title">Retirada </h1>
            <p class="subtitle">HotelPokemon </p>   
            {% for pokemon in pokemons %} 
            <div class="box">
                <div class="columns">
                    <div class="column is-4">
                        <div class="columns">
                            <div class="column is-half">
                                <strong>Nome</strong>
                                <p>{{pokemon.nome}}</p>
                            </div>
                            <div class="column is-2">
                                {% if pokemon.sexo == 'f' %}
                                    <img src="img/venus.svg" width="30">
                                {% else %}
                                    <img src="img/male.svg" width="25">
                                {% endif %}    
                                        
                            </div>
                            </div>
                        <div class="columns">
                            <div class="column is-4">
                                <strong>Especie</strong>
                                <p>{{pokemon.especie}}</p>
                            </div>
                            <div class="column is-1">
                                <strong>Lv</strong>
                                <p>{{pokemon.nivel}}</p>
                            </div>
                        </div>
                        <div>
                            <strong>Xp ganho até agora</strong>
                            <p>
                                {{pokemon.xpTotal}}
                            </p>
                        </div>
                        <div>
                            <br>
                            <strong>Taxa de estadia</strong>
                            <p>
                                {{pokemon.taxa}}
                            </p>
                        </div>         
                        <hr>
                        <a href="http://localhost/hotelpokemon/?pagina=Retirada&metodo=deletar&id={{pokemon.idPokemon}}" class="button is-success">Retirar </a>
                    </div>
                    <div class="column">
                        <img src="img/Pokemons/{{pokemon.especie}}.png" width="250">
                    </div>
                </div>
            </div>    
            {% endfor %}
        {% endif %}    
    </div>
</section>