<section>
    <section class="hero is-success is-bold">
        <div class="hero-body">
            <div class="columns">
                <div class="column">
                    <h1 class="title">
                        Um Pouco sobre nós
                    </h1>
                    <p class="subtitle">
                        HotelPokemon
                    </p>
                    <p>
                       Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec feugiat ante id nisi gravida, id finibus arcu sollicitudin. Suspendisse rutrum dolor dolor, eget bibendum leo pretium non. Ut consequat purus est, in mollis quam ultrices id. Vivamus sem orci, vehicula a leo ut, placerat sagittis tortor. Aliquam erat volutpat. Suspendisse.
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed scelerisque.
                    </p>
                </div>
                <div class="column">
                    <img src="img/Team.png" width="400" >
                </div>
            </div>
        </div>
    </section>
    <br>
    <section class="hero is-success is-bold ">
        <div class="hero-body">
            <h1 class="title">Nosso Planos</h1>
            <div class="columns">
                <!-- olha aqui -->
                {% for plano in planos %}
                <div class="column">
                    <div class="card">
                        <div class="card header">
                            <div class="card-header-title">
                                {{plano.nome}}
                            </div>
                        </div>
                        <div class="card-content has-text-centered">
                            <img src="img/Planos/{{plano.idPlano}}.png" width="200" alt="">
                            <br>
                            <strong>
                                {{plano.nome}}
                            </strong>
                            <p>
                                {{plano.descricao}}
                            </p>
                        </div>
                        <div class="card-footer">
                            <div class="card-footer-item">
                                Preço: R$ {{plano.custoPorTempo}} 
                            </div>
                            <div class="card-footer-item">
                                Exp: {{plano.expPorTempo}}
                            </div>
                            <div class="card-footer-item">
                                Pokemons : {{plano.limiteDePokemons}}
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <br>
    <section class="hero is-success is-bold">
        <div class="hero-body">
            <div class="columns">
                <div class="column">
                    <h1 class="title">
                        Uma Especie Nova??
                    </h1>
                    <p class="subtitle">
                        Veja o que deve fazer!
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas dignissim lacus ante, a ullamcorper sem convallis et. Vivamus gravida aliquam maximus. Ut viverra nibh id interdum vestibulum. Integer scelerisque hendrerit.
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec feugiat ante id nisi gravida, id finibus arcu sollicitudin. Suspendisse rutrum dolor dolor, eget bibendum leo pretium non. Ut consequat purus est, in mollis quam ultrices id. Vivamus sem orci, vehicula a leo ut, placerat sagittis tortor. Aliquam erat volutpat. Suspendisse.
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed scelerisque.
                    </p>
                </div>
                <div class="column">
                    <img src="img/Professor.jpg" >
                </div>
            </div>
        </div>
    </section>
    <br>
</section>