<section class="hero">
        <div class="hero-body">
            <div class="hero content">
                <h1 class="title">
                    Editado com sucesso
                </h1>
                <p class="subtitle">Já pode Hospedar seus paceiros</p>
                <img src="img/Success.png" width="300">
            </div>
            <div>
                <a href="http://localhost/hotelpokemon/?pagina=pesquisa" class="button is-success">Pesquisar</a>
            </div>
        </div>
    </section>