<section class="hero">
    <div class="hero-body">
        <div class="hero content">
            <h1 class="title">
                Pokemon inserido com Sucesso
            </h1>
            <p class="subtitle">Seu paceiro já vai começar a upar</p>
            <img src="img/Success.png" width="300">
        </div>
    </div>
</section>