<section class="hero">
    <div class="hero-body">
        <div class="hero content">
            <h1 class="title">
                Cadastro Realizado com Sucesso
            </h1>
            <p class="subtitle">Já pode Hospedar seus paceiros</p>
            <img src="img/Success.png" width="300">
        </div>
    </div>
</section>